<div class="pan">
  <div class="head">WEEKLY POLL</div>
  <div class="mh">
    <div class="va">
      <div class="wp">
        <!-- Add classname .ed to .wp when successfuly voted -->
        <div class="title">Question sample, Sed ut perspiciatis unde omnis iste natus?</div>
        <div class="hint">One answer:</div>
        <div class="answ">
          <label class="wc">
            <input type="radio" name="answer" value="1">
            <div class="qa"><span>Choice 1</span></div>
          </label>
          <label class="wc">
            <input type="radio" name="answer" value="2">
            <div class="qa"><span>Choice 2</span></div>
          </label>
          <label class="wc">
            <input type="radio" name="answer" value="3">
            <div class="qa"><span>Choice 3</span></div>
          </label>
        </div>
        <div class="cr p70">
          <button type="button" class="btn prm">Vote</button>
        </div>
        <div class="ty">
          <div>
            <img src="assets/icons/done.svg">
            <div class="title">Thank you for your vote</div>
            <div class="mesg">The results of the survey will be published this weekend.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>