<omed-rightbar-sponsored></omed-rightbar-sponsored>

<omed-rightbar-weekly-poll></omed-rightbar-weekly-poll>

<omed-rightbar-med-case></omed-rightbar-med-case>

<omed-rightbar-event></omed-rightbar-event>

<div class="st">
  <omed-rightbar-sponsored></omed-rightbar-sponsored>

  <omed-rightbar-suggestions></omed-rightbar-suggestions>

  <div class="pan">
    <div class="col12 mb5 cr">
      <span>© 2017 Omed · </span><a href="#">Utilisation</a>
      <br><a href="#">Confidentialité</a> · <a href="#">Assistance</a>
      <div class="mt10">
        <img src="assets/demo/sanofi.png" style="width: 15px;padding-bottom: 2px;margin-right: 3px;"><span class="bold blu3">Sanofi</span> Partenaire 2017
      </div>
    </div>
  </div>
</div>