<div class="pan about">
  <div class="head">ABOUT</div>
  <div class="pbody tl">
    <div class="va">
      <div class="ib">
        <div class="detli">
          <div class="ib">
            <img class="i w18" src="assets/icons/hat.svg">
          </div>
          Studied in <a class="hl a blu3" href="#">The FMPM</a>
        </div>
        <div class="detli">
          <div class="ib">
            <img class="i" src="assets/icons/med.svg">
          </div>
          Works at <a class="hl a blu3" href="#">CHU Mohamed 6</a>
        </div>
        <div class="detli">
          <div class="ib">
            <img class="i" src="assets/icons/contact.svg">
          </div>
          <a class="hl a blu3" href="#">162</a> contacts
        </div>
        <div class="detli">
          <div class="ib">
            <img class="i" src="assets/icons/location.svg">
          </div>
          Lives in <a class="hl blu3">Marrakech</a>
        </div>
        <div class="detli">
          <div class="ib">
            <img class="i" src="assets/icons/marital.svg">
          </div>
          <a class="hl blu3">Maried</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pan bio">
  <div class="head">BIO</div>
  <div class="pbody">
    <img src="assets/icons/quote.svg">
    <div class="text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magnminima veniam.</div>
  </div>
</div>