@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');
.holder {
  margin-top: 46px;
  padding-top: 20px;
  background: rgb(239, 239, 241);
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  font-size: 13px;
  line-height: 1.42;
  color: #12425f;
}
