<div class="pan us">
  <div class="head">Suggestions</div>
  <div class="pbody">
    <ul>
      <li>
        <div>
          <div class="conti">
            <a href="#" class="useri"><img src="assets/demo/cnops.png" class="fit"></a>
          </div>
          <div class="contd wc">
            <div class="ubtn">
              <div class="btn p0"> <img src="assets/icons/rss.svg" class="btn2"></div>
            </div>
            <a href="#" class="uname">CNOPS (Caisse Nationale des Organismes de Prévoyance Sociale)</a>
          </div>
        </div>
      </li>
      <li>
        <div>
          <div class="conti">
            <a href="#" class="useri">
              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
            <image clip-path="url(#omed_)" height="100%" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/demo/user3.jpg"></image>
            </a>
            </svg>
            </a>
          </div>
          <div class="contd wc">
            <div class="ubtn">
              <div class="btn p0"> <img src="assets/icons/addu.svg" class="addu"></div>
            </div>
            <a href="#" class="uname">Ahmed Benmoussa</a>
            <div class="udet">Résid. 1<span class="ie">re</span> Ophtalmo.</div>
          </div>
        </div>
      </li>
      <li>
        <div>
          <div class="conti">
            <a href="#" class="useri">
              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
            <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user1.jpg"></image>
            </a>
            </svg>
            </a>
          </div>
          <div class="contd wc">
            <div class="ubtn">
              <div class="btn p0"> <img src="assets/icons/addu.svg" class="addu"></div>
            </div>
            <a href="#" class="uname">Kamel Alaoui</a>
            <div class="udet">Résid. 1<span class="ie">re</span> Ophtalmo.</div>
          </div>
        </div>
      </li>
      <li>
        <div>
          <div class="conti">
            <a href="#" class="useri">
              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
            <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user2.jpg"></image>
            </a>
            </svg>
            </a>
          </div>
          <div class="contd wc">
            <div class="ubtn">
              <div class="btn p0"> <img src="assets/icons/addu.svg" class="addu"></div>
            </div>
            <a href="#" class="uname">Inas Massoudi</a>
            <div class="udet">Résid. 1<span class="ie">re</span> Ophtalmo.</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>