<div class="header">
  <div class="cont">
    <div class="omed">
      <div class="brand col7 col-2">
        <a href="#"><img class="logo" src="/assets/icons/lg.svg"></a>
      </div>
    </div>

    <omed-navbar-search></omed-navbar-search>

    <div class="navbar">
      <ul class="nav">
        <omed-navbar-friend-requests></omed-navbar-friend-requests>
        <omed-navbar-messages></omed-navbar-messages>
        <omed-navbar-notifications></omed-navbar-notifications>
        <omed-navbar-account></omed-navbar-account>
      </ul>
    </div>
  </div>
</div>