<div class="header">
  <div class="cont">
    <div class="omed">
      <div class="brand col7 col-2">
        <a href="#"><img class="logo" src="/assets/icons/lg.svg"></a>
      </div>
    </div>

    <div>
      <omed-navbar-search></omed-navbar-search>

      <!-- <div class="navbar">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle"><img class="navi" src="assets/icons/users.svg"><span class="label hide">0</span> </a>
            <div class="dropdown-menu">
              <div class="scr">
                <div class="head">Friend Requests</div>
                <ul>
                  <li>
                    <div class="uacont">
                      <div class="conti">
                        <a href="#" class="useri">
                          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
                        <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user1.jpg"></image>
                        </a>
                        </svg>
                        </a>
                      </div>
                      <div class="contd wc">
                        <div class="ubtn">
                          <div class="btn p0"> <img src="assets/icons/no.svg" class="btn2"></div>
                          <div class="btn p0"> <img src="assets/icons/checked.svg" class="btn1"></div>
                        </div>
                        <a href="#" class="uname">Ahmed Benmoussa</a>
                        <div class="udet">Résid. 1<span class="ie">re</span> Ophtalmo.</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uacont">
                      <div class="clikst">
                        <div class="loader"></div>
                      </div>
                      <div class="conti">
                        <a href="#" class="useri">
                          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
                        <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user1.jpg"></image>
                        </a>
                        </svg>
                        </a>
                      </div>
                      <div class="contd wc">
                        <div class="ubtn">
                          <div class="btn p0"> <img src="assets/icons/no.svg" class="btn2"></div>
                          <div class="btn p0"> <img src="assets/icons/checked.svg" class="btn1"></div>
                        </div>
                        <a href="#" class="uname">Ahmed Benmoussa</a>
                        <div class="udet">Résid. 1<span class="ie">re</span> Ophtalmo.</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uacont">
                      <div class="clikst"><span>Invitation rejected. <a href="#">Undo?</a></span></div>
                      <div class="conti">
                        <a href="#" class="useri">
                          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
                        <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user1.jpg"></image>
                        </a>
                        </svg>
                        </a>
                      </div>
                      <div class="contd wc">
                        <div class="ubtn">
                          <div class="btn p0"> <img src="assets/icons/no.svg" class="btn2"></div>
                          <div class="btn p0"> <img src="assets/icons/checked.svg" class="btn1"></div>
                        </div>
                        <a href="#" class="uname">Ahmed Benmoussa</a>
                        <div class="udet">Résid. 1<span class="ie">re</span> Ophtalmo.</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uacont">
                      <div class="conti">
                        <a href="#" class="useri">
                          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
                        <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user2.jpg"></image>
                        </a>
                        </svg>
                        </a>
                      </div>
                      <div class="contd wc">
                        <span class="fs12">You have accepted </span><a href="#" class="uname">Ahmed Benmoussa</a><span class="fs12">.</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <a class="dropf" href="#">See All</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#" aria-expanded="false" class="dropdown-toggle">
            <img class="navi" src="assets/icons/o_23.svg">
            <span class="label hide">0</span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img class="navi" src="assets/icons/earth.svg"><span class="label">1</span></a>
            <div class="dropdown-menu">
              <div class="dropb">
                <div class="scr">
                  <div class="head">Notifications</div>
                  <ul>
                    <li>
                      <a class="noti">
                        <div class="conti">
                          <div class="useri">
                            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                      <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
                      <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user4.jpg"></image>
                      </a>
                      </svg>
                      </div>
                      </div>
                      <div class="contd wc">
                        <div class="txt"><span class="bold blu2">Yahya Benjeloune</span> liked your <span class="bold">listing</span> : « Brand new diabete device for sale »</div>
                      </div>
                      <div class="side"><img src="assets/icons/wback.svg" class="w10"></div>
                      </a>
                    </li>
                    <li>
                      <a class="noti new">
                        <div class="conti">
                          <div class="useri">
                            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                      <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
                      <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user3.jpg"></image>
                      </a>
                      </svg>
                      </div>
                      </div>
                      <div class="contd wc">
                        <div class="txt"><span class="bold blu2">Inas Nasrallah</span> and 3 others commented on your <span class="bold">medical case</span> : « Burned kid needing surgery who has cardiac problems »</div>
                      </div>
                      <div class="side"><img src="assets/icons/wback.svg" class="w10"></div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <a class="dropf" href="#">See All</a>
            </div>
          </li>
          <li class="dropdown ublock">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <div class="u">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <clipPath id="omed_">
                      <path d="M50,99.593c-3.173-0.008-6.287-0.843-9.04-2.418L10.477,79.831c-4.676-2.675-7.563-7.647-7.568-13.034V33.16
                        c0.005-5.388,2.893-10.36,7.568-13.035L40.96,2.782c5.61-3.166,12.468-3.166,18.079,0l30.484,17.344
                        c4.676,2.675,7.563,7.647,7.568,13.035v33.637c-0.006,5.387-2.893,10.359-7.568,13.034L59.039,97.175
                        C56.287,98.75,53.172,99.585,50,99.593z"></path>
                    </clipPath>
                  </g>
            <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
            <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="http://theracecardproject.com/wp-content/uploads/2015/07/Profile-Photo1-300x300.jpg"></image>
            </a>
            </svg>
            </div>
            </a>
            <ul class="dropdown-menu umenu">
              <li class="sep">My account</li>
              <li class="a">
                <a href="#"><img class="i1" src="assets/icons/user_.svg">My profile</a>
              </li>
              <li class="a">
                <a href="#"><img class="i1" src="assets/icons/gear-.svg">Settings</a>
              </li>
              <li class="a">
                <a href="#"><img class="i1 bs" src="assets/icons/logout.svg">Sign out</a>
              </li>
              <li class="sep t">Discussion</li>
              <li class="b">
                <a href="#"><img class="i1" src="assets/icons/online_.svg">Online</a>
                <a href="#" style="display:none;"><img class="i1" src="assets/icons/offline_.svg">Offline</a>
              </li>
              <li class="sep t">About</li>
              <li class="a"> <a href="#" class="plt prpbg">Rules of conduct</a> </li>
              <li class="a"> <a href="#" class="plt prpbg">Privacy</a> </li>
              <li class="a"> <a href="#" class="plt prpbg">Assistance</a> </li>
            </ul>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>