.container-fluid {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #12425f;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  background: linear-gradient(135deg,#fff 0%,#f3f6f8 100%);
}

.container-fluid::before {
  content: "";
  position: fixed;
  left: -22%;
  top: 50%;
  right: 0;
  width: 125%;
  height: 100%;
  background: linear-gradient(135deg,#f3f6f8 0%,#fff 100%);
  transform: rotate(15deg);
}

small {
  font-size: 87%;
}

strong a {
  color: #2b9cf2;
  text-decoration: none;
}
