<div class="container-fluid pl-5 pr-5">
  <nav class="navbar navbar-expand-sm navbar-light mb-5">
    <a class="navbar-brand" routerLink="/"><img src="/assets/icons/omed-brand.svg"></a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="./">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../registration">Sing up now!</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>