<div class="case">
  <img src="assets/icons/target.svg">
  <div class="rel t1">
    <i class="dwn"></i>
    <select name="listing_cat">
      <option value="" disabled="" selected="" style="display:none;">Category of the listing</option>
      <option value="2">
        Remplacement
      </option>
      <option value="2">
        Garde
      </option>
      <option value="3">
        Offre d'emploi
      </option>
      <option value="4">
        Cession/Location de cabinet
      </option>
      <option value="5">
        Permutation
      </option>
      <option value="6">
        Vente matériel
      </option>
      <option value="7">
        Concours
      </option>
      <option value="8">
        Formation
      </option>
      <option value="9">
        Service
      </option>
      <option value="10">
        Autre
      </option>
    </select>
  </div>
</div>
<div class="case">
  <img src="assets/icons/o_25.svg" class="w19">
  <input type="text" placeholder="Title of the listing">
</div>
<div class="case">
  <img src="assets/icons/price.svg">
  <input type="text" placeholder="Price (optional)">
</div>
<div class="case">
  <img src="assets/icons/surgeon.svg" class="t2">
  <select data-placeholder="Concerned specialties" class="tagfy" multiple="" tabindex="2">
    <option value=""></option>
    <option value="1">Cardiology</option>
    <option value="2">Ophtalmology</option>
    <option value="3">Oncology</option>
    <option value="4">Pediatry</option>
    <option value="5">Rhumatology</option>
    <option value="6">Specialty1</option>
    <option value="7">Specialty2</option>
    <option value="8">Specialty3</option>
    <option value="9">Specialty4</option>
    <option value="10">Specialty5</option>
  </select>
</div>
<div class="case">
  <img src="assets/icons/place.svg" class="t2">
  <select data-placeholder="Concerned cities" class="tagfy" multiple="" tabindex="2">
    <option value=""></option>
    <option value="1">Marrakech</option>
    <option value="2">Casablanca</option>
    <option value="3">Rabat</option>
    <option value="4">Fes</option>
    <option value="5">Meknes</option>
    <option value="6">Agadir</option>
    <option value="7">Tanger</option>
    <option value="8">Oujda</option>
    <option value="9">Laayoune</option>
  </select>
</div>
<div class="case">
  <img src="assets/icons/poster.svg">
  <textarea omedTextareaAutogrow class="p0" placeholder="Description of the listing.."></textarea>
</div>

<div class="tabsf">
  <ul>
    <li><span><img class="icn" data-multiple="true" src="assets/icons/picture-2.svg"></span></li>
  </ul>

  <div class="fr mt5">
    <button type="button" class="btn t1">Publish</button>
  </div>
</div>