<li class="dropdown" id="myDropdown">
  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle"><img class="navi" src="assets/icons/users.svg"><span class="label hide">0</span> </a>
  <div class="dropdown-menu">
    <div class="scr">
      <div class="head">Friend Requests</div>
      <ul>
        <li>
          <div class="uacont">
            <div class="conti">
              <a href="#" class="useri">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
              <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user1.jpg"></image>
              </a>
              </svg>
              </a>
            </div>
            <div class="contd wc">
              <div class="ubtn">
                <div class="btn p0"> <img src="assets/icons/no.svg" class="btn2"></div>
                <div class="btn p0"> <img src="assets/icons/checked.svg" class="btn1"></div>
              </div>
              <a href="#" class="uname">Ahmed Benmoussa</a>
              <div class="udet">Résid. 1<span class="ie">re</span> Ophtalmo.</div>
            </div>
          </div>
        </li>
        <li>
          <div class="uacont">
            <div class="clikst">
              <div class="loader"></div>
            </div>
            <div class="conti">
              <a href="#" class="useri">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
              <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user1.jpg"></image>
              </a>
              </svg>
              </a>
            </div>
            <div class="contd wc">
              <div class="ubtn">
                <div class="btn p0"> <img src="assets/icons/no.svg" class="btn2"></div>
                <div class="btn p0"> <img src="assets/icons/checked.svg" class="btn1"></div>
              </div>
              <a href="#" class="uname">Ahmed Benmoussa</a>
              <div class="udet">Résid. 1<span class="ie">re</span> Ophtalmo.</div>
            </div>
          </div>
        </li>
        <li>
          <div class="uacont">
            <div class="clikst"><span>Invitation rejected. <a href="#">Undo?</a></span></div>
            <div class="conti">
              <a href="#" class="useri">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
              <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user1.jpg"></image>
              </a>
              </svg>
              </a>
            </div>
            <div class="contd wc">
              <div class="ubtn">
                <div class="btn p0"> <img src="assets/icons/no.svg" class="btn2"></div>
                <div class="btn p0"> <img src="assets/icons/checked.svg" class="btn1"></div>
              </div>
              <a href="#" class="uname">Ahmed Benmoussa</a>
              <div class="udet">Résid. 1<span class="ie">re</span> Ophtalmo.</div>
            </div>
          </div>
        </li>
        <li>
          <div class="uacont">
            <div class="conti">
              <a href="#" class="useri">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
              <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user1.jpg"></image>
              </a>
              </svg>
              </a>
            </div>
            <div class="contd wc">
              <span class="fs12">You have accepted </span><a href="#" class="uname">Ahmed Benmoussa</a><span class="fs12">.</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <a class="dropf" href="#">See All</a>
  </div>
</li>