<div class="row justify-content-center">
  <div class="col-10">
    <nav class="navbar mb-5 pb-5">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/icons/omed-brand.svg">
      </a>

      <small class="ml-auto">
        <strong><a routerLink="../">Wait, I remember my password</a></strong>
      </small>
    </nav>
  </div>
</div>

<div *ngIf="!sendedSuccessfully">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2>Reset your password</h2>
      <p>Please enter the email number associated with your account.</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-11 col-md-8 col-lg-5">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">
          <div class="form-group col">
            <input id="email" class="form-control" placeholder="Email" formControlName="email">
            <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i></label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <button type="submit" class="btn btn-primary btn-block submit-btn" [disabled]="formSubmitted">Recover my account</button>
          </div>
        </div>
        <div class="row" *ngIf="errMessage">
          <div class="col">
            <div class="alert alert-danger err-msg" role="alert">{{errMessage}}</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row justify-content-center" *ngIf="sendedSuccessfully">
  <div class="col-md-8 text-center">
    <img src="/assets/icons/pplane.svg" style="width: 50px; margin-bottom: 10px;">
    <h2 style="margin-bottom: 20px;">Check your inbox!</h2>
    <p>We just sent you an e-mail to reset your password. Click on the link and get back to us in seconds.</p>
  </div>
</div>
