<div class="cmd tabs cf">
  <ul class="bpx cf">
    <li link="#pt1" class="active"><span><img src="assets/icons/discussion.svg">Discussion</span></li>
    <li link="#pt2"><span><img src="assets/icons/o_29.svg">Medical Case</span></li>
    <li link="#pt3"><span><img src="assets/icons/o_25.svg" class="w19">Listing</span></li>
    <li link="#pt4"><span><img src="assets/icons/o_32.svg" class="w19">Document</span></li>
  </ul>

  <div class="tabsc" id="pt1" style="display: block;">
    <omed-publish-discussion></omed-publish-discussion>
  </div>

  <div class="tabsc" id="pt2">
    <omed-publish-med-case></omed-publish-med-case>
  </div>

  <div class="tabsc" id="pt3">
    <omed-publish-listing></omed-publish-listing>
  </div>

  <div class="tabsc" id="pt4">
    <omed-publish-document></omed-publish-document>
  </div>
</div>