<div class="cmd tabs cf">
  <ul class="bpx cf">
    <li [class.active]="postType == 1" (click)="postType = 1"><span><img src="assets/icons/discussion.svg">Discussion</span></li>
    <li [class.active]="postType == 2" (click)="postType = 2"><span><img src="assets/icons/o_29.svg">Medical Case</span></li>
    <li [class.active]="postType == 3" (click)="postType = 3"><span><img src="assets/icons/o_25.svg" class="w19">Listing</span></li>
    <li [class.active]="postType == 4" (click)="postType = 4"><span><img src="assets/icons/o_32.svg" class="w19">Document</span></li>
  </ul>

  <div class="tabsc" [ngSwitch]="postType">
    <omed-publish-discussion *ngSwitchCase="1"></omed-publish-discussion>
    <omed-publish-med-case   *ngSwitchCase="2"></omed-publish-med-case>
    <omed-publish-listing    *ngSwitchCase="3"></omed-publish-listing>
    <omed-publish-document   *ngSwitchCase="4"></omed-publish-document>
  </div>
</div>