<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img class="navi" src="assets/icons/earth.svg"><span class="label">1</span></a>
  <div class="dropdown-menu">
    <div class="dropb">
      <div class="scr">
        <div class="head">Notifications</div>
        <ul>
          <li>
            <a class="noti">
              <div class="conti">
                <div class="useri">
                  <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
            <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user4.jpg"></image>
            </a>
            </svg>
            </div>
            </div>
            <div class="contd wc">
              <div class="txt"><span class="bold blu2">Yahya Benjeloune</span> liked your <span class="bold">listing</span> : « Brand new diabete device for sale »</div>
            </div>
            <div class="side"><img src="assets/icons/wback.svg" class="w10"></div>
            </a>
          </li>
          <li>
            <a class="noti new">
              <div class="conti">
                <div class="useri">
                  <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link_here">
            <image clip-path="url(#omed_)" height="100%" width="100%" xlink:href="assets/demo/user3.jpg"></image>
            </a>
            </svg>
            </div>
            </div>
            <div class="contd wc">
              <div class="txt"><span class="bold blu2">Inas Nasrallah</span> and 3 others commented on your <span class="bold">medical case</span> : « Burned kid needing surgery who has cardiac problems »</div>
            </div>
            <div class="side"><img src="assets/icons/wback.svg" class="w10"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a class="dropf" href="#">See All</a>
  </div>
</li>