<textarea omedTextareaAutogrow dir="auto" placeholder="Attach documents, and add a note or comment here.." style="overflow: hidden; resize: none; height: 60px;"></textarea>
<div class="file uploading">
  <div class="conf hid">
    <div class="cr va2 abs wc">
      <button type="button" class="btn t1 sm mr5 ccl">Keep file</button><button type="button" class="btn t4 sm">Delete file</button>
    </div>
  </div>
  <button type="button" class="delc"><span>×</span></button><img class="icn" data-multiple="true" src="assets/icons/file/file.svg">
  <div class="prog">
    <progress value="70" max="100"></progress>
  </div>
</div>
<div class="file">
  <div class="conf hid">
    <div class="cr va2 abs wc">
      <button type="button" class="btn t1 sm mr5 ccl">Keep file</button><button type="button" class="btn t4 sm">Delete file</button>
    </div>
  </div>
  <button type="button" class="delc"><span>×</span></button><img class="icn" data-multiple="true" src="assets/icons/file/doc.svg"><input type="text" placeholder="Editable title of the file">
</div>
<div class="attach"><img class="icn" data-multiple="true" src="assets/icons/upload.svg">Attach file(s)</div>

<div class="tabsf">
  <div class="fr mt5">
    <div class="btnc mr5">
      <button type="button" class="btn t2 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img class="ibtn" src="assets/icons/musers.svg"> <span> Everyone</span> <i class="dwn"></i> </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#"><img class="ibtn" src="assets/icons/university.svg">Students of my faculty</a>
        </li>
        <li>
          <a href="#"><img class="ibtn" src="assets/icons/cusers.svg">My studies' cycle</a>
        </li>
        <li>
          <a href="#"><img class="ibtn" src="assets/icons/cusers.svg">My collegues nationwide</a>
        </li>
        <li>
          <a href="#"><img class="ibtn" src="assets/icons/share.svg">My contacts</a>
        </li>
        <li>
          <a href="#"><img class="ibtn" src="assets/icons/cusers.svg">My class group TS1</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#"><img class="ibtn" src="assets/icons/dentist.svg">Dentists</a>
        </li>
      </ul>
    </div>
    <button type="button" class="btn t1">Publish</button>
  </div>
</div>