<form [formGroup]="medCaseForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="case">
    <img src="assets/icons/o_29.svg">
    <input type="text" formControlName="title" placeholder="Title of the medical case">
  </div>
  <div class="case">
    <img class="t2" src="assets/icons/surgeon.svg">
    <select data-placeholder="Concerned specialties" class="tagfy" multiple="" tabindex="2">
      <option value=""></option>
      <option *ngFor="let specialty of specialtyOpts" [value]="specialty.id">{{specialty.name | capitalizeFirst}}</option>
    </select>
  </div>
  <div class="case">
    <img src="assets/icons/sick.svg">
    <div class="of">
      <div class="col7 p0">
        <div class="col4 p0 lh22 gc">Patient's sex : </div>
        <input type="radio" id="male" formControlName="sex" name="sex" value="male">
        <label for="male" class="col3 male rd"><img class="w12" src="assets/icons/m-le.svg"></label>
        <input type="radio" id="female" formControlName="sex" name="sex" value="female">
        <label for="female" class="col3 ml5 fe male rd"><img class="w12" src="assets/icons/f-male.svg"></label>
      </div>
      <div class="col5 p0">
        <label class="col8 cr lh22 gc" for="age">Patient's age : </label>
        <div class="col4 p0">
          <input type="number" placeholder="in years" min="0" max="100" formControlName="age" id="age">
        </div>
      </div>
    </div>
  </div>
  <div class="case">
    <img src="assets/icons/poster.svg">
    <textarea class="p0"
      omedTextareaAutogrow
      omedValidatePostDescription
      formControlName="description"
      placeholder="Description of the medical case.."></textarea>
  </div>


  <ng-container formArrayName="pools">
    <div class="rel" *ngFor="let pool of medCasePools.controls; let poolIndex=index" [formGroupName]="poolIndex">
      <button type="button" class="close" (click)="removeMedCasePool(poolIndex)"><span>×</span></button>
      <div class="case">
        <img src="assets/icons/question2.svg">
        <input type="text" formControlName="question" placeholder="Your question.. (Example: Diagnosic, CAT, etc.)">
      </div>

      <div id="answers" class="ans">
        <ng-container formArrayName="answers">
          <span *ngFor="let answer of getPoolAnswers(poolIndex).controls; index as answerIndex; last as isLast" [formGroupName]="answerIndex" style="display: inline;" >
            <img class="imgcase w8" src="assets/icons/dott2.svg">
            <input type="text" formControlName="text" (focus)="isLast && addPoolAnswer(poolIndex)" placeholder="Answer {{answerIndex + 1}}">
          </span>
        </ng-container>

        <div class="bt">
          <div class="ib">
            <ul>
              <input type="checkbox" formControlName="canAddAnswer" [id]="'allowAddAnswer' + poolIndex">
              <label [for]="'allowAddAnswer' + poolIndex" class="cbs" (click)="$event.currentTarget.classList.toggle('true')">
                <span class="cbcnt"><i></i></span>Allow everyone to add answers
              </label>
            </ul>
          </div>
          <div class="pr10 fr">
            <ul>
              <input type="checkbox" formControlName="multipleAnswers" [id]="'multipleChoices' + poolIndex">
              <label [for]="'multipleChoices' + poolIndex" class="cbs" (click)="$event.currentTarget.classList.toggle('true')">
                <span class="cbcnt"><i></i></span>Multiple choices possible
              </label>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="add case" *ngIf="medCasePools.length < 2" (click)="addMedCasePool()"><img src="assets/icons/plus.svg">Add a question</div>

  <div class="tabsf">
    <ul>
      <li>
        <span (click)="file.click();">
          <img class="icn" data-multiple="true" src="assets/icons/picture-2.svg">
        </span>
        <input type="file" multiple style="display: none;" (change)="onFilesChange($event)" #file>
      </li>
    </ul>
    <input type="checkbox" id="incog1" formControlName="incognito">
    <label for="incog1" class="incog check" [class.true]="medCaseForm.value.incognito">
      <span>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" xml:space="preserve">
          <path d="M48.494,59.535c-7.35-0.032-14.692-0.294-22.006-1.012
            c-6.585-0.646-13.168-1.37-19.518-3.393c-1.468-0.468-2.917-0.994-4.129-1.979c-1.298-1.056-1.28-2.162,0.057-3.186
            c1.833-1.403,4.028-1.983,6.201-2.573c3.353-0.909,6.773-1.495,10.218-1.913c0.705-0.085,0.763-0.504,0.893-0.979
            c2.01-7.349,4.027-14.696,6.024-22.049c0.551-2.028,1.178-4.01,2.97-5.323c2.169-1.589,4.538-1.829,7.025-0.867
            c1.669,0.645,3.32,1.336,4.976,2.016c5.848,2.4,11.697,2.428,17.55,0.019c1.522-0.626,3.046-1.245,4.571-1.864
            c4.584-1.863,8.689-0.015,10.048,4.729c2.213,7.725,4.285,15.49,6.394,23.244c0.191,0.701,0.469,0.996,1.26,1.106
            c4.318,0.602,8.621,1.312,12.76,2.756c1.05,0.366,2.063,0.828,2.994,1.435c1.761,1.147,1.792,2.542,0.049,3.713
            c-1.806,1.213-3.873,1.82-5.954,2.361c-6.398,1.664-12.944,2.379-19.506,2.94C63.761,59.367,56.13,59.551,48.494,59.535z"></path>
          <path d="M79.925,63.293c-3.711,0.601-7.477,0.799-11.229,1.033
            c-8.802,0.549-17.614,0.637-26.429,0.467c-7.488-0.145-14.968-0.489-22.393-1.473c-2.243-0.297-4.771,1.473-4.019,4.278
            c0.923,3.438,2.059,6.777,3.816,9.886c0.938,1.659,2.194,2.981,3.882,3.906c4.385,2.405,9.077,3.849,14.02,4.486
            c3.001,0.386,5.782-0.076,8.042-2.336c0.451-0.45,1.016-0.792,1.548-1.153c1.278-0.87,2.672-1.082,4.197-0.832
            c1.74,0.285,2.952,1.435,4.193,2.486c1.687,1.429,3.564,2.075,5.761,1.916c5.39-0.338,10.463-1.812,15.218-4.398
            c1.694-0.922,2.9-2.299,3.819-3.966c1.687-3.06,2.744-6.347,3.738-9.684C84.979,64.929,82.599,62.86,79.925,63.293z M42.008,75.998
            c-0.5,0.728-1.152,1.268-1.938,1.655c-3.101,1.529-8.868,0.597-11.306-1.835c-0.251-0.25-0.513-0.52-0.67-0.831
            c-1.304-2.575-0.974-3.677,1.693-4.124c1.278-0.214,2.558-0.309,3.852-0.259c2.29,0.107,4.584,0.181,6.803,0.849
            C42.992,72.219,43.525,73.79,42.008,75.998z M72.468,73.523c-0.22,0.796-0.708,1.402-1.25,1.971
            c-2.489,2.606-7.662,3.66-10.994,2.268c-1.483-0.62-2.457-1.682-2.904-3.231c-0.324-1.124,0-1.953,1.009-2.538
            c1.405-0.815,2.982-0.977,4.544-1.154c1.243-0.141,2.497-0.188,3.746-0.277c1.551-0.022,3.085,0.09,4.573,0.533
            C72.574,71.506,72.854,72.123,72.468,73.523z"></path>
        </svg>
        Incognito<span class="incogm"> activated</span>
      </span>
    </label>

    <div class="fr mt5">
      <button type="submit" class="btn t1" [disabled]="formDisabled">Publish</button>
    </div>
  </div>
</form>