<div class="alt nt">
  <div class="conf hid">
    <div class="cr va2 abs wc">
      <span class="hl mb10 ib">Are you sure you want to delete this message?</span>
      <br>
      <button type="button" class="btn t2 sm ccl">Cancel</button>
      <button type="button" class="btn t4 sm cnf">Delete</button>
    </div>
  </div>
  <button type="button" class="delc"><span>×</span></button>
  <div class="notimg"></div>
  <div class="va cr">
    <span class="bold blu3">Never miss a notification again!</span>
    <br><span class="bold red">Click here</span> to receive notifications in your desktop!
  </div>
</div>

<div class="alt bd">
  <button type="button" class="qdel"><span>×</span></button>
  <div class="va">Dear <span class="bold blu3">Dr. Mohammed Alaoui</span>,
    <br><span class="bold blu3">Omed</span> and <img src="assets/demo/sanofi.png" style="width: 15px;padding-bottom: 2px;"> <span class="bold blu3">Sanofi</span> wish you a happy birthday! Enjoy your day..
  </div>
</div>