<div class="pan">
  <div class="head">do not miss</div>
  <div class="pbody">
    <a href="#" target="_blank">
    <img class="fit" src="assets/demo/eventposter.png" alt="" style="border-radius: 3px;"></a>
  </div>
</div>
<div class="pan">
  <div class="head">do not miss</div>
  <div class="mh">
    <div class="va">
      <div class="pbody ar">
        <div class="title hl"><span class="tag">Conference</span><span>The 13th Conference on Traumatology and Orthopedics</span></div>
        <div class="mt15 lt">
          <div>
            <span class="if ib"><img class="itxt" src="assets/icons/o_30.svg"><span class="hl">5 January 2017</span> at <span class="hl">20:30</span></span>
          </div>
          <div>
            <span class="if ib"><img class="itxt" src="assets/icons/place.svg"><span>Hotel The Four Seasons</span> in <a href="#">Marrakech</a></span>
          </div>
        </div>
        <div class="mt10 cr"><span class="btn cln">See this event</span></div>
      </div>
    </div>
  </div>
</div>