<div class="row justify-content-center">
  <div class="col-10">
    <nav class="navbar mb-5 pb-5">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/icons/omed-brand.svg">
      </a>

      <small class="ml-auto">
        <strong><a routerLink="/login">Wait, I remember my password</a></strong>
      </small>
    </nav>
  </div>
</div>

<div *ngIf="!changedSuccessfully">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2>Create new password</h2>
      <p>Please enter new password for your account.</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-11 col-md-8 col-lg-5">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">
          <div class="form-group col">
            <input type="password" id="password" class="form-control" placeholder="New password" formControlName="password">
            <label for="password"><i class="fa fa-lock" aria-hidden="true"></i></label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <button type="submit" class="btn btn-primary btn-block submit-btn" [disabled]="formSubmitted">Change</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row justify-content-center" *ngIf="changedSuccessfully">
  <div class="col-md-8 text-center">
    <svg id="successAnimation" class="animated" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
      <path id="successAnimationResult" fill="#D8D8D8" d="M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z"></path>
      <circle id="successAnimationCircle" cx="35" cy="35" r="24" stroke="#979797" stroke-width="2" stroke-linecap="round" fill="transparent"></circle>
      <polyline id="successAnimationCheck" stroke="#979797" stroke-width="2" points="23 34 34 43 47 27" fill="transparent"></polyline>
    </svg>
    <h2 style="margin-bottom: 20px;">Password was successfully changed!</h2>
    <p>Use new password for <strong><a routerLink="/login">login</a></strong>.</p>
  </div>
</div>
