small {
  font-size: 87%;
}

strong a {
  color: #2b9cf2;
  text-decoration: none;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  color: #36434d;
}

p {
  color: #9E9E9E;
  font-size: 14px;
}

.form-group .form-control {
  position: relative;
  padding-left: 44px;
  height: 53.5px;
  font-size: 14px;
  border: 1px solid #a7b9c459;
  border-radius: 2px;
  font-weight: 600;
  -webkit-appearance: none;
}

.form-group label {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 31px;
  width: 17px;
  color: #b1c1d3;
}

.submit-btn {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: #2b9cf2;
  padding: 15px 18.75px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 20px;
  border: 1px solid transparent;
}

.submit-btn:before {
  content: '';
  position: absolute;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  width: 30%;
  height: 500%;
  background: rgba(255,255,255,0.1);
  z-index: 1;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-20deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-20deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-20deg);
  transform-origin: 0 0;
  transform: rotate(-20deg);
}

.submit-btn:hover:before {
  width: 80%;
}

.err-msg {
  text-align: center;
  background-color: #e91e4d;
  border-color: #e91e4d;
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 20px;
}

.ng-touched.ng-valid + label,
.ng-dirty.ng-valid + label {
  color: #2c9cf2;
}

.ng-touched.ng-invalid + label,
.ng-dirty.ng-invalid + label {
  color: #FF2A63;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scaleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #2b9cf2;
}

#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #2b9cf2;
}

#successAnimationResult {
  fill: #2b9cf2;
  opacity: 0;
}

#successAnimation.animated {
  -webkit-animation: 1s ease-out 0s 1 both scaleAnimation;
          animation: 1s ease-out 0s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
          animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationCheck {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
          animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationResult {
  -webkit-animation: 0.3s linear 0.9s both fadeIn;
          animation: 0.3s linear 0.9s both fadeIn;
}